<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Furama | Homepage</title>
  <th:block th:replace="~{layout :: l_style_css}">
  </th:block>
	<link rel="stylesheet" href="/layout/login.css">
</head>
<body id="body-pd">
  <header th:replace="~{layout :: l_header}"></header>
  <div th:replace="~{layout :: l_navbar}"></div>
  <div class="height-100 bg-light">
	      <h3 th:if="${message != null}" th:utext="${message}" style="color: red;"></h3>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
  </div>
  <th:block th:replace="~{layout :: l_js}">
  </th:block>
</body>
</html>
