<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Furama | Homepage</title>
  <th:block th:replace="~{layout :: l_style_css}">
  </th:block>
	<link rel="stylesheet" href="/layout/card.css">
</head>
<body id="body-pd">
	<header th:replace="~{layout :: l_header}"></header>
	<div th:replace="~{layout :: l_navbar}"></div>
	<div class="height-100 pt-2">
		
		<div class="alert alert-success"
		     th:if="${#request.getAttribute('ok_message') != null}"
		     th:text="${#request.getAttribute('ok_message')}">
		</div>
		
		<div class="d-flex justify-content-between mb-2">
				<div>
					<a class="btn btn-success"
					   th:href="@{'/contract'}"
					   role="button">
				    <span th:text="${mainObject}"></span>
			    </a>
				</div>
			</div>
				<table class="table table-light table-bordered small">
					<thead class="thead thead-dark text-center">
						<tr>
							<th scope="col">#</th>
							<th scope="col">CS#Code</th>
							<th scope="col">Customer Name</th>
							<th scope="col">Type</th>
							<th scope="col">Facility</th>
							<th scope="col">Cost</th>
							<th scope="col">StartDate</th>
							<th scope="col">EndDate</th>
							<th scope="col">AttachService</th>
							<th scope="col">Total Money</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cd, loop : ${paidCustomers}">
							<td th:text="${(paidCustomers.number * 10) + loop.count}"></td>
							<td th:text="${cd.getCustomerId()}"></td>
							<td th:text="${cd.getCustomerName()}"></td>
							<td th:text="${cd.getCustomerTypeName()}"></td>
							<td th:text="${cd.getFacilityName()}"></td>
							<td th:text="${#numbers.formatDecimal(cd.getFacilityCost(), 0, 'COMMA', 0, 'POINT')}"></td>
							<td th:text="${cd.getStartDate()}"></td>
							<td th:text="${cd.getEndDate()}"></td>
							<td th:text="${cd.getAttachServiceName()}"></td>
							<td th:text="${#numbers.formatDecimal(cd.getTotal(), 0, 'COMMA', 0, 'POINT')}"></td>
						</tr>
					</tbody>
				</table>
		
		
		<!--Phan Trang-->
		<div class="pagination-control">
			<div class="row d-flex justify-content-center">
			<nav th:fragment="pagination" aria-label="Page navigation example"
			     style="width: initial">
			  <ul class="pagination">
			    <li class="page-item">
				    <a class="btn btn-light"
				       th:attrappend="class=${!paidCustomers.hasPrevious() ? ' disabled' : ''}"
				       th:href="@{/contract/paid-customer(page=${paidCustomers.number - 1}, q=${q})}"
				    >
					        Previous
				    </a>
			    </li>
				  <li class="page-item btn btn-light" th:text="${paidCustomers.number + 1}"></li>
				  <li class="page-item btn btn-light disabled">/</li>
				  <li class="page-item btn btn-light disabled"
				      th:text="${paidCustomers.totalPages}"></li>
				  <span>&nbsp;</span>
			    <li class="page-item">
				    <a class="btn btn-light"
				       th:attrappend="class=${!paidCustomers.hasNext() ? ' disabled' : ''}"
				       th:href="@{/contract/paid-customer(page=${paidCustomers.number + 1}, q=${q})}"
				    >
					        Next
				    </a>
			    </li>
			  </ul>
			</nav>
		</div>
		</div>
	</div>
	
	<th:block th:replace="~{layout :: l_js}">
	</th:block>
</body>
</html>
