<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Furama | Homepage</title>
  <th:block th:replace="~{layout :: l_style_css}">
  </th:block>
	<link rel="stylesheet" href="/layout/card.css">
</head>
<body id="body-pd">
	<header th:replace="~{layout :: l_header}"></header>
	<div th:replace="~{layout :: l_navbar}"></div>
	<div class="height-100 px-5 py-5">
		<div class="row">
			<div class="col-sm-3">
				<a class="btn btn-secondary" th:href="@{/facility}">Back to List</a>
			</div>
		</div>
		<div class="container d-flex flex-column justify-content-center" data-theme="dark">
			<form method="post" th:object="${facilityDto}" th:action="@{${#request.getServletPath()}}">
				<div class="text-center mb-3">
						<h2>Create New <span th:text="${mainObject}"></span></h2>
		    </div>
				<div class="row d-flex justify-content-center">
					<div class="col-8">
						<div class="row mb-3">
									<div class="col-7 form-group">
											<input style="width: 100%" type="text" class="form-control" th:field="*{name}" placeholder="Name" autocomplete="off"/>
											<span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
									</div>
									<div class="col-5 form-group">
											<input style="width: 100%" class="form-control"  type="text" th:field="*{area}" placeholder="Area" autocomplete="off"/>
										<span style="color: red" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></span>
									</div>
						</div>
						<div class="row mb-3">
									<div class="col-4 form-group">
											<input style="width: 100%" class="form-control" type="text" th:field="*{cost}" placeholder="Cost" autocomplete="off"/>
									<span style="color: red" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></span>

									</div>
									<div class="col-4 form-group">
											<input style="width: 100%" class="form-control" type="text" th:field="*{maxPeople}" placeholder="Max People" autocomplete="off"/>
									</div>
									<div class="col-4 form-group">
											<select class="form-control" th:field="*{rentType}">
												<option value="">--Choose Rent Type--</option>
												<option th:each="rt : ${rentTypes}" th:value="${rt.id}" th:text="${rt.rentTypeName}"></option>
											</select>
											<span style="color: red" th:if="${#fields.hasErrors('rentType')}" th:errors="*{rentType}"></span>

									</div>
						</div>
						<div class="row mb-3">
									<div class="col-12 form-group">
											<select id="facilityTypeSelect" class="form-control" th:field="*{facilityType}">
												<option value="">--Choose Rent Type--</option>
												<option th:each="ft : ${facilityTypes}" th:value="${ft.id}" th:text="${ft.facilityTypeName}"></option>
											</select>
											<span style="color: red" th:if="${#fields.hasErrors('facilityType')}" th:errors="*{facilityType}"></span>

									</div>
						</div>
						<div class="row mb-3" id="villaInputs">
									<div class="col-4 form-group">
											<input style="width: 100%" type="text" class="form-control" th:field="*{standardRoom}" placeholder="Standard Room" autocomplete="off"/>
										
									</div>
									<div class="col-4 form-group">
											<input style="width: 100%" type="text" class="form-control" th:field="*{otherConvenience}" placeholder="Other Convenient" autocomplete="off"/>
									</div>
									<div class="col-2 form-group">
											<input style="width: 100%" type="text" class="form-control" th:field="*{poolArea}" placeholder="Pool Area" autocomplete="off"/>
									</div>
									<div class="col-2 form-group">
											<input style="width: 100%" type="text" class="form-control" th:field="*{numberOfFloors}" placeholder="Floors" autocomplete="off"/>
									</div>
						</div>
						<div class="row mb-3" id="houseInputs">
									<div class="col-4 form-group">
											<input style="width: 100%" type="text" class="form-control" th:field="*{standardRoom}" placeholder="Standard Room" autocomplete="off"/>
									</div>
									<div class="col-4 form-group">
											<input style="width: 100%" type="text" class="form-control" th:field="*{otherConvenience}" placeholder="Other Convenient" autocomplete="off"/>
									</div>
									<div class="col-2 form-group">
											<input style="width: 100%" class="form-control"  type="text" th:field="*{numberOfFloors}" placeholder="Floors" autocomplete="off"/>
									</div>
						</div>
						<div class="row mb-3" id="roomInputs">
									<div class="col-12 form-group">
											<input style="width: 100%" type="text" class="form-control" th:field="*{freeService}" placeholder="Free Service" autocomplete="off"/>
									</div>
						</div>
					</div>
				</div>
				<div class="text-center">
						<button type="submit" class="btn btn-success">Submit</button>
		    </div>
			</form>
		</div>
	</div>
	<th:block th:replace="~{layout :: l_js}">
	</th:block>
	<script src="/ajax/facility/form.js"></script>
</body>
</html>