<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	  content="Our Church is a premium HTML5 Church Website Template with Responsive design. Church Template includes many pages like Bulletin, Programs, events, sermons, ministries, working church contact form etc..">
<meta name="keywords"
	  content="Church, Website, Template, Bulletin, Programs, Events, Themeforest, Premium, Charity, Non Profit ">
<meta name="author" content="Surjith SM">
<title>Church Website Template - Our Church Responsive HTML5</title>
  <th:block th:fragment="link_css">
      <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
      <link th:href="@{/css/church.css}" rel="stylesheet">
      <link th:href="@{/css/fancybox.css}" rel="stylesheet">
      <script th:src="@{/js/html5shiv.js}" type="text/javascript"></script>
      <script th:src="@{/js/respond.min.js}" type="text/javascript"></script>
      <link th:href="@{'http://fonts.googleapis.com/css?family=Montserrat:400,700'}" rel="stylesheet"
            type="text/css">
      <link th:href='@{"http://fonts.googleapis.com/css?family=Droid+Serif:400,700"}' rel='stylesheet'
            type='text/css'>
  </th:block>
</head>
<body>

<div th:fragment="subhead" class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>List Products</h3>
    <p class="lead">Simple to use components that can be used in this website</p>
  </div>
</div>

<!-- FOOTER -->
<footer th:fragment="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h5>ABOUT THE CHURCH</h5>
        <p>For the word of God is living and active. Sharper than any double-edged sword, it penetrates even to dividing soul and spirit, joints and marrow; it judges the thoughts and attitudes.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>QUICK LINKS</h5>
        <ul class="footer-links">
          <li><a href="#">Upcoming events</a></li>
          <li><a href="#">Ministries</a></li>
          <li><a href="#">Recent Sermons</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>OUR ADDRESS</h5>
        <p> Catholic Church<br>
          121 King Street, Melbourne <br>
          Victoria 3000 Australia<br>
          <br>
          Phone: +61 3 8376 6284<br>
          Email: <a href="#">mail@catholicwebsite.com</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>CONNECT</h5>
        <div class="social-icons"><a href="#"><img src="images/fb-icon.png" alt="social"></a> <a
			href="#"><img src="images/tw-icon.png" alt="social"></a> <a href="#"><img
			src="images/in-icon.png" alt="social"></a></div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p class="text-center">Copyright © 2014 All rights reserved</p>
    </div>
  </div>
</footer>
<!-- // END FOOTER -->

<!-- // END -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster --> 
<th:block th:fragment="bottom_script">
    <script th:src="@{/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/owl.carousel.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/ketchup.all.js}" type="text/javascript"></script>
    <script th:src="@{/js/fancybox.js}" type="text/javascript"></script>
    <script th:src="@{/js/script.js}" type="text/javascript"></script>

</th:block>
</body>
</html>
