<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h1>Sign Up</h1>
	<p th:if="${message != null}" th:text="${message}" style="color: red"></p>
<form action="/signup" th:object="${userDto}" method="POST" enctype="utf8">
    <table>
		    <tr>
			    <td><label>Username</label></td>
	        <td><input th:field="*{userName}"/></td>
		    </tr>
		    <tr>
		        <td><label>password</label></td>
		        <td><input type="password" th:field="*{password}"/></td>
			    <p th:each="error : ${#fields.errors('password')}"
			       th:text="${error}">Validation error</p>
		    </tr>
		    <tr>
		        <td><label>confirm password</label></td>
		        <td><input type="password" th:field="*{matchingPassword}"/></td>
		    </tr>
		    <tr>
			    <td></td>
			    <td><button type="submit">submit</button></td>
		    </tr>
	    </table>
</form>

</body>

</html>